body{
	background-color: white;
	color: black;
}
#slider{
	width: 765px;
	height: 250px;
	border: 5px solid red;
	margin: 50px auto;
	overflow: hidden;
}

#polosa{
	width: 896px;
	position: relative;
	left: 0;
	transition: all ease 1s;
} 

#polosa image {
	float: left;
}

#polosa::after{
	content: "";
	display: block;
	clear: both;
}